img {
  width: 200px;
  height: 200px;
}

body {
  background-color: hotpink;
}

p {
  color: blue;
  text-color: yellow;
  font-size: 100px;
}

#banner {
  font-size: 50px;
}

.id {
  border: 1px black dashed;
}
